

#contenedor {
	background-color: yellow;
	width: 960px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

h2{
	text-align:center;
}
.float{
	float:left;
	margin: 0 10px 0 10px;
}

header{
	background-color: blue;
}
header h1{
	background-color: LimeGreen ;
	float:left;
	margin: 20px auto auto 5px;
	/* arriba derecha abajo izquierda */

}

#searchbox {
	float: right;
	margin: 30px auto auto auto;
}

#logo{
	float:left;
	margin: 0 10px 0 10px;
	height: 80px;
	width: 80px;
	background-color: LightSeaGreen;

}

nav{
	background-color: red;
	text-align:center;
}

#main_container{
	background-color: green;
}

footer{
	background-color: gray;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

#mainContainer{
	background-color: DarkGoldenRod;
}

#bloqueSelectorCategorias{
	background-color: DarkSalmon;
	font-size: 130%;

}

#bloqueSelectorCategorias p{
	background-color: DarkSalmon;
}

#bloqueSelectorCategorias select{
	font-size: 85%;
}

#contenedorProductos{
	background-color: HotPink;
	padding-top: 10px;
}

#about{
	background-color: LightSkyBlue;
}

#contacto{
	margin-top:140px;
}

.producto{
	float: left;
    margin: 0 0 10px 10px;
}
.producto ul{
	text-align: center;
	padding-right:30px;
}

.clear{
	clear:both;
}

.not_valid{
	display: block;
	color:#820000;
	width: 20%;
	font-size: 12px;
	padding-left: 21%
}

/*Estilo del Formulario de Registro*/
#formReg {
	margin-left:auto;
	margin-right:auto;
	max-width: 800px;
}

.field {
	display: block;
	margin: 0px;
}

.field span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

.field input {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 2px;
	margin-right: 6px;
	margin-top: 13px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 50%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
 }
