#contenedor {
	width: 960px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

h2{
	text-align:center;
}
.float{
	float:left;
	margin: 0 10px 0 10px;
}

header{

}
header h1{
	float:left;
	margin: 20px auto auto 5px;
	/* arriba derecha abajo izquierda */
	
}

#searchbox {
	float: right;
	margin: 30px auto auto auto;
}

#logo{
	float:left;
	margin: 0 10px 0 10px;
	height: 80px;
	width: 80px;
}

nav{
	text-align:center;
}

#bienvenida{
}

footer{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

#mainContainer{
}

#bloqueSelectorCategorias{
	font-size: 130%;
	
}

#bloqueSelectorCategorias p{
}

#bloqueSelectorCategorias select{
	font-size: 85%;
}

#contenedorProductos{
	padding-top: 10px;
}

#about{
}

#contacto{
	margin-top:140px;
}

.producto{
	float: left;
    margin: 0 0 10px 10px;
}
.producto ul{
	text-align: center;
	padding-right:30px;
}

.clear{
	clear:both;
}

