<h2>Nuevo Usuario</h2>
<form id="formReg" name="formulario">
		<div class="field">
			<span>Nombre: </span>
			<input type="text" name="nombre">
			<!--Este div contendra el error de validacion si fuera necesario; el error es introducido via ajax desde formularioRegistro.js -->
			<div id='err_nombre' class='not_valid'></div>
		</div>

		<div class="field">
			<span>Apellido: </span>
			<input type="text" name="apellido">
			<div id="err_apellido" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Usuario: </span>
			<input type="text" name="usuario">
			<div id="err_usuario" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Contraseña: </span>
			<input type="password" name="contrasena">
			<div id="err_contrasena" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Confirmar contraseña: </span>
			<input type="password" name="contrasenaConf">
			<div id="err_contrasenaConf" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Dirección: </span>
			<input type="text" name="direccion">
			<div id="err_direccion" class='not_valid'></div>
		</div>

		<div class="field">
			<span>E-mail: </span>
			<input type="text" name="email">
			<div id="err_email" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Confirmar E-mail: </span>
			<input type="text" name="emailConf">
			<div id="err_emailConf" class='not_valid'></div>
		</div>

		<div class="field">
			<span>Número de cuenta: </span>
			<input type="text" name="numeroCuenta">
			<div id="err_numeroCuenta" class='not_valid'></div>
		</div>

		<div class='clear' />

		<div id ="registroBoton"><input type="button" name="registrarse" value="Registrar" onclick="validarFormulario();"></div>
</form>
<div class='clear' />
