#contenedor {
	width: 960px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

h2{
	text-align:center;
}
.float{
	float:left;
	margin: 0 10px 0 10px;
}

header{

}
header h1{
	float:left;
	margin: 20px auto auto 5px;
	/* arriba derecha abajo izquierda */

}

#searchbox {
	float: right;
	margin: 30px auto auto auto;
}

#logo{
	float:left;
	margin: 0 10px 0 10px;
	height: 80px;
	width: 80px;
}

nav{
	text-align:center;
}

footer{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

.clear{
	clear:both;
}
